<!--
 * @Descripttion: 外站技术
 * @version: 1.0.0
 * @Author: YangKe
 * @Date: 2019-12-17 09:41:06
 * @LastEditors: ~
 * @LastEditTime: 2023-11-10 14:28:45
 -->
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<title>净现率</title>
	<!--common css/js-->
	<script src="/js/common/common-cloud.js" type="text/javascript" charset="utf-8"></script>
	<!--声明css,js变量-->
	<script type="text/javascript">
		var LSList = {
			type1: 'link',
			type2: 'script',
			type: 'scriptmodule',
			//引入的路径列表
			list1: [
			],
			list2: [
				"plugins/lib/xe-utils.js",
				"plugins/lib/echarts.min.js",
			],
			list: [
				'js/guid-page/work/index.js'
			]
		};
	</script>
	<!--About css-->
	<script type="text/javascript">
		writeImportFile(LSList.type1, LSList.list1);
	</script>
	<style>
		.box {
			height: 300px;
		}
	</style>
</head>

<body class="catalogue-url">
	<pre class="foldBox">
		云页面: 净现率
		重复率：净现率和净现值相差
		<span class="common-btn">总结：无论大→小还是小→大，重率都是4年，最大跨度6个月</span>
	</pre>
	<p class="title"><i class="lins"></i>大→小</p>
	<div class="title">
		<span class="common-btn">重复率：</span>
		<span class="common-btn">2023-08-28</span>
		<span class="common-btn theme-bgOrange">2027-05-28</span>
		<span class="common-btn theme-bgOrange">2031-02-28</span>
		<span class="common-btn theme-bgOrange">2034-11-28</span>
	</div>
	<div class="title">
		<span class="common-btn">跨度时间：（半年）</span>
		<span class="common-btn theme-bgGreen">2024-08-28</span>
		<span class="common-btn theme-bgGreen">2025-11-28 (1年03月)</span>
		<span class="common-btn theme-bgGreen">2028-05-28 (2年06月)</span>
		<span class="common-btn theme-bgGreen">2029-08-28 (1年03月)</span>
		<span class="common-btn theme-bgGreen">2032-02-28 (2年06月)</span>
		<span class="common-btn theme-bgGreen">2033-05-28 (1年03月)</span>
		<span class="common-btn theme-bgGreen">2035-11-28 (2年06月)</span>
		<span class="common-btn theme-bgGreen">2037-02-28 (1年03月)</span>
	</div>
	<div class="box box-bg-blue" id="charts"></div>
	<p class="title"><i class="lins"></i>小→大</p>
	<div class="title">
		<span class="common-btn">重复率：</span>
		<span class="common-btn">2023-08-28</span>
		<span class="common-btn theme-bgOrange">2027-05-28</span>
		<span class="common-btn theme-bgOrange">2031-02-28</span>
		<span class="common-btn theme-bgOrange">2034-11-28</span>
	</div>
	<div class="title">
		<span class="common-btn">跨度时间：（半年）</span>
		<span class="common-btn theme-bgGreen">2024-08-28</span>
		<span class="common-btn theme-bgGreen">2025-11-28 (1年03月)</span>
		<span class="common-btn theme-bgGreen">2028-05-28 (2年06月)</span>
		<span class="common-btn theme-bgGreen">2029-08-28 (1年03月)</span>
		<span class="common-btn theme-bgGreen">2032-02-28 (2年06月)</span>
		<span class="common-btn theme-bgGreen">2033-05-28 (1年03月)</span>
		<span class="common-btn theme-bgGreen">2035-11-28 (2年06月)</span>
		<span class="common-btn theme-bgGreen">2037-02-28 (1年03月)</span>
	</div>
	<div class="box box-bg-blue" id="chartsBig"></div>
	<p class="title"><i class="lins"></i>组合</p>
	<div class="title">
		<span class="common-btn theme-bgGreen">四年复率，跨度3-6月</span>
	</div>
	<div class="box box-bg-blue" id="chartsGroup"></div>
</body>
<!--Tripartite js-->
<!--About js-->
<script type="text/javascript">
	writeImportFile(LSList.type2, LSList.list2);
	writeImportFile(LSList.type, LSList.list);
</script>

</html>